<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Click here</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Employee</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="formEditEmployee">            
                <div class="form-group">
                    <label><b>Full name</b></label>
                    <input type="text" 
                    [class]="{'form-control': true, 
                              'is-invalid': !formEditEmployee.get('fullName').valid 
                                            && (formEditEmployee.get('fullName').touched || formEditInvalid) }" 
                    formControlName="fullName">
                    <div class="validation-error" 
                         *ngIf="!formEditEmployee.get('fullName').valid 
                                && (formEditEmployee.get('fullName').touched || formEditInvalid)">
                         Please enter Name
                    </div>
                </div>

                <div class="form-group">
                    <label><b>Account</b></label>
                    <input type="text"
                    [class]="{'form-control': true, 
                              'is-invalid': !formEditEmployee.get('account').valid 
                                            && (formEditEmployee.get('account').touched || formEditInvalid)}"
                    formControlName="account">
                    <div class="validation-error" 
                         *ngIf="!formEditEmployee.get('account').valid 
                                && (formEditEmployee.get('account').touched || formEditInvalid)">
                         Please enter Account
                    </div>
                </div>

                <div class="form-group">
                    <label><b>DOB</b></label>
                    <input type="date" 
                    [class]="{'form-control': true, 
                              'is-invalid': !formEditEmployee.get('doB').valid 
                                           && (formEditEmployee.get('doB').touched || formEditInvalid) }"               
                    formControlName="doB">
                    <div class="validation-error" 
                         *ngIf="!formEditEmployee.get('doB').valid 
                               && (formEditEmployee.get('doB').touched || formEditInvalid)">
                         Please enter DOB
                    </div>
                </div>

                <div class="form-group">
                    <label><b>Phone</b></label>
                    <input type="text" 
                    [class]="{'form-control': true, 
                              'is-invalid': !formEditEmployee.get('phone').valid
                               && (formEditEmployee.get('phone').touched || formEditInvalid) }"                    
                    formControlName="phone">
                    <div class="validation-error" 
                         *ngIf="!formEditEmployee.get('phone').valid 
                               && (formEditEmployee.get('phone').touched || formEditInvalid)">
                         Please enter Phone
                    </div>
                </div>

                <div class="form-group">
                    <label><b>Address</b></label>
                    <input type="text" 
                    [class]="{'form-control': true, 
                              'is-invalid': !formEditEmployee.get('address').valid
                               && (formEditEmployee.get('address').touched || formEditInvalid) }"                    
                    formControlName="address">
                    <div class="validation-error" 
                         *ngIf="!formEditEmployee.get('address').valid 
                               && (formEditEmployee.get('address').touched || formEditInvalid)">
                         Please enter address
                    </div>
                </div>

                <div class="form-group">
                    <label><b>Job</b></label>
                    <select 
                    [class]="{'form-control': true, 
                              'is-invalid': !formEditEmployee.get('jobTitle').valid
                               && (formEditEmployee.get('jobTitle').touched || formEditInvalid) }" 
                    formControlName="jobTitle">
                        <option *ngFor="let job of listJobTitle" [value]="job.id">{{ job.name }}</option>
                    </select>
                    <div class="validation-error" 
                         *ngIf="!formEditEmployee.get('jobTitle').valid 
                               && (formEditEmployee.get('jobTitle').touched || formEditInvalid)">
                         Please choose jobTitle
                    </div>
                </div>
              
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="onFormSubmit(formEditEmployee)">Save Changes</button>
        </div>
      </div>
    </div>
  </div>